h1.logo{margin-top:10px;}
.block-cart-top .cart-popup{background-color:/*BEGIN:body_bgcolor1*/#ffffff/*END:body_bgcolor1*/; }
/*slider home*/
.home_brand{}
.header_top_link,.block.block-currency .block-title span{font:/*BEGIN:h6_font*/normal 12px/1.35 helvetica,arial,sans-serif /*END:h6_font*/;}
.form-search button.button span span{background-image:url(../images/jewelbox/icons.png)}
.form-search button.button:hover span span{box-shadow:0 0 0 0 rgba(250, 104, 125, 0.21);-moz-box-shadow:0 0 0 0 rgba(250, 104, 125, 0.21); -webkit-box-shadow:0 0 0 0 rgba(250, 104, 125, 0.21);}
a.next, .csslider a.next,.icon,a.prev, .csslider a.prev{background-image:url(../images/jewelbox/icons.png)}

.wrapper-category .title span,.wrapper-category .title{background-image:url(../images/jewelbox/bkg-featured.png)}
.wrapper-category .title span{font-size:110%;  line-height:41px}
.header_top ul.links li:after{top:4px;}
.block.block-currency .block-title span{color:/*BEGIN:header_text_color*/#969696/*END:header_text_color*/;}
.catsearch-dropdown span.current{background-image:url(../images/jewelbox/btn-select.png);background-position: 95% 17px;}

/*tab*/
.ui-slider-tabs-list li{background:none;border: 1px solid /*BEGIN:body_line3*/#e6e6e6/*END:body_line3*/!important; border-bottom:none!important;}
.ui-slider-tabs-list li a{color:/*BEGIN:body_text_color1*/#323232/*END:body_text_color1*/;font:/*BEGIN:h4_font*/normal 16px/1.35 helvetica,arial,sans-serif /*END:h4_font*/; line-height:41px; text-transform:lowercase}
.ui-slider-tabs-list li:hover, .ui-slider-tabs-list li.selected{border:1px solid transparent!important; border-bottom:none!important;}
.ui-slider-tabs-list li{border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}
/*rating*/
.rating-box,.rating-box .rating{background-image:url(../images/jewelbox/bkg-rating.png)}

/*slideshow*/
.tp-rightarrow.default,.tp-leftarrow.default{background-image:url(../images/jewelbox/icons.png)}
.cms-index-index .main-slideshow .container_24{padding-top:40px;}

/*menu*/
.em_nav li a{text-transform:capitalize}
.hnav .menu-item-depth-0 > a, .em-catalog-navigation.horizontal > li > a{background-image:none;}

/*wrapper-category*/
.wrapper-category .title{color:/*BEGIN:body_text_color5*/#ffffff/*END:body_text_color5*/;}
.wrapper-category .home_cat h5 a{text-transform:capitalize}
.wrapper-category .sub-cat li a{font: /*BEGIN:general_font*/12px/1.35 Arial, Helvetica, sans-serif/*END:general_font*/;}
.wrapper-category .home_cat h5,
.block-subscribe .title p.title-newsletter{}
.block-subscribe .title p.title-newsletter{}
.block-subscribe .title p.title-newsletter span{}

.secondary2{color:/*BEGIN:body_text_color1*/#323232/*END:body_text_color1*/;}

.wrapper-category .home_cat img{margin-top:-18px}

.slider_special .widget-title h2{}
.slider_special .widget-title h2 span{font-size:110%}
.home_blog .title span{font-size:110%; }
.home_blog .title{margin-top:-16px;}

.footer_popular .top-search span{color:/*BEGIN:footer_text_color2*/#076274/*END:footer_text_color2*/;}
.footer_links .title{text-transform:capitalize}
.footer_links hr.line-title{border-color:/*BEGIN:body_text_color2*/#dddddd/*END:body_text_color2*/}
.footer address{color:/*BEGIN:footer_text_color1*/#969696/*END:footer_text_color1*/;}

.footer_followus li p.title-tw{color:/*BEGIN:body_text_color2*/#09c7d1/*END:body_text_color2*/;}

.footer-top > .block.block-subscribe,.block.block-subscribe .content-subscribe{background:none;}
.block.block-subscribe .content-subscribe{background-color:/*BEGIN:body_bgcolor1*/#ffffff/*END:body_bgcolor1*/;margin:0;}
.block.block-subscribe .bkg-block-subs{background-image:url(../images/jewelbox/bkg-newsletter1.png); margin:0; padding:5px;}


.brand-logo{background-image:url(../images/fashion/logos.png)}
